body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 90vw;
    box-sizing: border-box;
    background-color: #303F9F;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 20px;
    color: white;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    background-color: #3F51B5;
}

.column {
    padding: 20px;
    box-sizing: border-box;
    height: calc(95vh - 130px);
}

.equations {
    width: 25%;
    color: white;
    overflow-y: auto;
}

.equation-item {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 11px;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.equation-item * {
    padding: 0;
    margin: 0;
}

.equation-item p {
    color: #ececec;
}

.equation-item h3 {
    border-bottom: 1px solid #ececec;
    margin-bottom: 5px;
    color: #ececec;
}

.equations h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.form h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.equations ul {
    list-style-type: none;
    padding: 0;
}

.equations ul li {
    margin: 15px 0;
}

.equations ul li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.equations ul li button:hover {
    background-color: #45a049;
}

.form {
    width: 35%;
    /*background-color: #f4f4f9;*/
    overflow-y: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00796B;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #536DFE;
    border-radius: 10px;
    padding: 10px;
}

.col-graph {
    flex-grow: 1;
}

.graph {
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

#recurrenceChart {
    /*height: 100% !important;*/
}

/*canvas {*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/

.info{
    text-align: center;
}