body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 90%;
    height: 90vh;
    box-sizing: border-box;
    background-color: #303F9F;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 20px;
    color: white;
}

.columns {
    display: flex;
}

.column {
    padding: 20px;
    box-sizing: border-box;
}

.equations {
    width: 25%;
    background-color: #333;
    color: white;
}

.equation-item {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 11px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.equation-item * {
    padding: 0;
    margin: 0;
}

.equations h2 {
    text-align: center;
}

.equations ul {
    list-style-type: none;
    padding: 0;
}

.equations ul li {
    margin: 15px 0;
}

.equations ul li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.equations ul li button:hover {
    background-color: #45a049;
}

.form {
    width: 35%;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.graph {
    width: 40%;
    padding: 20px;
}

canvas {
    width: 100%;
    height: 100%;
}
